@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
		<a href="@Url.Action("UploadImage")">MVC</a><br/>
		<a href="@Url.Content("~/UploadImage.aspx")">Webforms</a>
    </div>
</body>
</html>
